


        <a class="btn"role="button" (click)="cache1()">
          <img   src="/assets/images/pallt.png" width="30" alt="">
          </a>

            
      <a (click)="textintalic($event)" class="btn">
         <i class="fas fa-italic" style="color: black;"></i></a>

      <a class="btn" (click)="textbold($event)"> <i class="fas fa-bold" style="color: black;" ></i></a>
   
   
       
       <a (click)="textunderline()" class="btn btn-primary"> <i class="fas fa-underline" style="color: black;" ></i></a>
       
       <a  class="btn" (click)="textoverline($event)"><i class="fal fa-overline" style="color: black;"></i></a>
       <a  class="btn"(click)="text($event)"><i class="fad fa-text" style="color: black;"></i></a>
       <a class="btn" (click)="textremove()"><i class="far fa-trash-alt" style="color: black;"></i> </a>
   
       <a class="btn" role="button" (click)="cache()">
           <i class="fas fa-text-width" style="color: black;"></i></a>

       <a class="btn" (click)="textreturn()"><i class="fas fa-undo-alt" style="color: black;"></i></a>
     
       <a class="btn" (click)="copy()"><i class="far fa-copy" style="color: black;"></i></a>
       <a (click)="paste()"><i class="fas fa-paste" style="color: black;"></i></a>
   
   
       <a class="btn" >
         <i class="fad fa-arrows" (click)="TextStroke($event)" ></i>
       </a>
   
   
     
          <a class="btn "> <select   name="font-family" id="font-family" (change)="selectChangeHandler($event)" >
            <option value="Choix de police" selected>Choix de police</option>
            <option *ngFor="let item of fonts" [value]="item">{{item}}</option>
          </select></a>

  

<div class="row d-flex" *ngIf="hide1" style="position: fixed; margin-left: 5%;">
    <h6>Choisissez une couleur:</h6>
    <color-circle   [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>  
</div>

<div class="row" *ngIf="hide" style="position: fixed;   margin-left: 5%;">
  <div class="col">
    <div class="input">
      <input type="text" class="form-control contre" name="texth" value="45" (input)="textwidth(textwdt)" [(ngModel)]="textwdt">
      <a class="plus" (click)="plus(textwdt)" role="button"><i class="fal fa-plus-circle c fa-2x "></i></a>
      <a class="minus" (click)="minus(textwdt)" role="button"><i class="fal fa-minus-circle c fa-2x "></i></a>

    </div>
  <label for="Range3" class="form-label text-center">Hauteur:</label>
<input type="range" class="form-range " name="height" min="40" max="600" step="1" id="R" [(ngModel)]="textwdt" (input)="textwidth(textwdt)">
  </div>
</div>



<div class="row" style="display: flex;" *ngIf="hide3" style="position: fixed;  margin-left: 5%;">
  <div class="col-6 d-flex">
    <h6>couleur de contour:</h6>
    <color-circle   [colors]="colorarray" (onChange)="strokecolor($event)"></color-circle>  
  </div>

  <div class="col-6 d-flex">
    <h6>couleur d'ombre:</h6>
    <color-circle [colors]="colorarray" (onChange)="shadowing($event)"></color-circle>  
  </div>

</div>



<div class="row" *ngIf="showtext" style="position: fixed; float:left">

<div class="form-group ">
<label for="Text">Ecrire le texte
</label>

<input type="text" class="form-control  " id="Text" placeholder="Votre text ici............." [(ngModel)]="netext" name="newtext" (change)="OntextChange()">
<button class="btn-lg btn-primary" style="display: flexbox; top: 5%; float: right;">Ajouter</button>

</div>

</div>