

p{
    border: solid 1px #eee;
    position: relative;
    top: 173px;
    left: 76px;
    width: 40%;
    height: auto;
    z-index: 1;
    background:#324161;
    color: white;
}

a{
    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
    padding: 9px;
    border-top:none;
    border-bottom: none;
}
a:hover{

    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
    
}
.form-control{
    width: 100%;
    position: relative;
    border: solid 1 #eee;
  
    //background: #eee;
}
.form-control:focus{
    box-shadow: none;
    border: solid 2px #324161;
}
.mb-3{
    border: solid 2px #ccc;
    width: 40%;
    position: relative;
    /* margin-left: 52px; */
    top: 294px;
    left: 76px;
    height: 56px;
    background: white;
}
select{
    border: ridge 3px #ccc;
    background: #eee;
    border-radius: 15px;
    width: 100%;   
}

.row{
    width: 25%;
    margin-bottom: 25px;
    position: relative;
    overflow-y: scroll;
    height: 120px;
    border: ridge 1px #ccc;
    background: #fbfbfb;
    display: block;
    bottom: 13px;
   //resize:both;
}
.form-range{
    width: 30%;
    position: relative;
    top: 48px;
    left: 261px;
}
h2{
    margin-top: 8px;
    text-align: center;
}
.resizable-bar{
    resize: vertical;
}
.input{
    position: absolute;
    top: 32px;
}
.contre{
    height: 55px;
    left: 119px;
    top: -1px;
    width: 36%;
    text-align: center;
    //font-weight: bold;
    font-size: 20px;
}
.plus{
    position: relative;
    left: 94%;
    bottom: 45px;
}
.minus{
    position: relative;
    //left: 106%;
    bottom: 45px;  
}
.fa, .far, .fas{
    color: white;
}
color-circle{
    width: auto;
}
@media screen and (max-width:768px) {
 p{
     width: 88%;
     margin-left: -48px;
     display: inline-table;
 }
 .mb-3{
    width: 87.5%;
    //position: relative;
    /* top: 294px; */
    left: 29px;
    top: 309px;
 }
 
 
}

@media screen and (max-width:680px) {
   .row{
       width: 100%;
       left: 0%;
       margin-bottom: 0%;
       position: relative;
   }
    
    
   }