<br>
<br>
<br>
<br>

<div class="grid-container">
  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1 class="title-text">{{data.name}} </h1>
      <p>Prix: {{data.price}} FCFA</p>
      </div>
      <div class="description">
        <!-- POUR LES BACHE & MICRO PERFOREE -->
        <div class="description-text">
          Type d'impression :
          <ul>
            <li>STANDARD</li>
            <li>SUPERIEUR</li>

          </ul>
        </div>
        <!-- POUR LES VINYLES -->
        <!-- <div class="description-text">
          Type d'impression :
          <ul>
            <li>STANDARD :
              <ul>
                <li>AVEC DECOUPE</li>
                <li>SANS DECOUPE</li>
              </ul>
            </li>
            <li>SUPERIEUR :
              <ul>
                <li>AVEC DECOUPE</li>
                <li>SANS DECOUPE</li>
              </ul></li>

          </ul>
        </div> -->
          <!-- POUR LES KAKEMONO   -->
        <!-- <div class="description-text">
          Type de support :
          <ul>
            <li> Petit Bas
              <ul>
                <li>STANDARD</li>
                <li>SUPERIEUR</li>
              </ul>
            </li>
            <li> Large Bas
              <ul>
                <li>STANDARD</li>
                <li>SUPERIEUR</li>
              </ul>
            </li>
          </ul>
        </div> -->
        <div class="size">
          Dimension :
              <ul>
                <!-- dimension sac -->
                <li>largeur X longueur</li>
              </ul>
        </div>

       <!----<div class="color">

          <div class="color-text">
            <span>Couleur</span>
          </div>
          <div class="colors">
            <div class="color-one dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-two dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-three dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
            <div class="color-four dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
          </div>
        </div>
      </div>
-->
</div>
<div class="btn " (click)="reload(Changevalue)">
  <a >
      Retour
      </a></div>
      <div class="btn bt"> <a >
        Je Personnalise
      </a></div>

    </div>
  </div>
</div>

<div class="grid-container">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}


        </p>
      </div>

    </div>
  </div>
</div>






