



  <div class="bloc">
    <div class="text1">
      <p>Félicitation !</p>
      <p class="btn btn-outline-success commande"> votre commande numéro {{order}} </p>
      <p >a été enregistrée avec succès</p>

    </div>
    <div class="text2">
      <p>Notre equipe de production se chargera de produire votre commande </p>
    </div>

  </div>


