.bloc{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5%;
  }
  
  .text1{
    color:#198754;
    font-size: 60px;
    font-weight: bold;
  }
  
  .commande{
    font-weight: bold;
  }
  
  .text2{
    margin: 0 25%;
  
  }
  