
<footer class=" justify-content-center text-lg-left" style="width: 100%; position: relative;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" >
        <h6 class="text-uppercase">Payement sécurisé</h6>
        <img src="assets/image/Orangemoney.png" style="width:20%; height:auto;">
        <img src="assets/image/moov.png" style="width:8%; height:auto;">
        <img src="assets/image/visa.png" style="width:10%; height:auto;">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 faire">
        <h6 class="text-uppercase ">Newsletters</h6>

        <ul class="list-unstyled mb-0   ">
          <li>
            <p>Recevez tous les offres et nouvelles</p>
          </li>
          <li>
            <form action="" method="post" >
              <input type="email" name="" id="" placeholder="entrez votre E-mail " style="border: solid 2px;">
              <button type="submit" style="position: absolute; background: #fab91a;">inscrivez-vous</button>
            </form>
          </li>
         <!-- <li>


         </li>-->
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-0">Réseaux sociaux</h6>

        <ul class="list-unstyled">

          <div class="col">
          <li>
            <a href="https://www.instagram.com/AladinCi" class="text-dark"><i class="fab fa-instagram  fa-2x  "></i></a>
          </li>


          <li>
            <a href="https://twitter.com/AladinCi" class="text-dark"><i class="fab fa-twitter  fa-2x  "></i></a>
          </li>


          <li>
            <a href="https://www.facebook.com/AladinCi" class="text-dark"><i class="fab fa-facebook  fa-2x  "></i></a>
          </li>
        </div>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <div class="input-new">
    <input type="checkbox" name="" id="check">

    Je donne mon concentement à aladin pour recevoir des communications  commerciales électroniques de leurs articles et /ou produits

  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#fab91a;">
    © 2021 Aladin inc:
    <a class="text-dark " href="./cg">Condition d'utilisation du service</a>
    <a class="text-dark " href="./cu">politique de confidentialité</a>
    <a class="text-dark " href="#">Ne vendez pas mes informations</a>
    <span class="vertical-line"></span>
    <a class="text-dark " href="#">Droit de confidentialité de CA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
