/*.card-body{
    width: 40%;
    margin-left: 77px;
    margin-bottom: 30px;
   position: static;
   overflow-y: scroll;
   height: 120px;
   border: ridge 2px #ccc;
   background: #fbfbfb;
   display: block;
  
} 
.c{
    color:#324161
}
p{
    border: solid 1px #eee;
    position: relative;
    top: 173px;
    left: 76px;
    width: 40%;
    height: 50px;
    z-index: 1;
    background:#324161;
    color: white;
}

a{
    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
    padding: 9px;
    border-top:none;
    border-bottom: none;
    vertical-align: -webkit-baseline-middle;
}
a:hover{

    background: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
    
}
.form-control{
    width: 98%;
    position: relative;
    border: solid 1 #eee;
    top: 7px;
    left: 6px;
    //background: #eee;
}
.form-control:focus{
    box-shadow: none;
    border: solid 2px #324161;
}
.mb-3{
    border: solid 2px #ccc;
    width: 40%;
    position: relative;
    /* margin-left: 52px; 
    top: 294px;
    left: 76px;
    height: 56px;
    background: white;
}
select{
    border: ridge 3px #ccc;
    background: #eee;
    border-radius: 15px;
    width: 181px;
   
    
}
.row{
    width: 40%;
    margin-left: 77px;
    margin-bottom: 30px;
    position: relative;
    overflow-y: scroll;
    height: 120px;
    border: ridge 1px #ccc;
    background: #fbfbfb;
    display: block;
    bottom: 13px;
   //resize:both;
}
.form-range{
    width: 30%;
    position: relative;
    top: 48px;
    left: 261px;
}
h2{
    margin-top: 8px;
    text-align: center;
}
.resizable-bar{
    resize: vertical;
}
.input{
    position: absolute;
    top: 32px;
}
.contre{
    height: 55px;
    left: 119px;
    top: -1px;
    width: 36%;
    text-align: center;
    //font-weight: bold;
    font-size: 20px;
}
.plus{
    position: relative;
    left: 94%;
    bottom: 45px;
}
.minus{
    position: relative;
    //left: 106%;
    bottom: 45px;  
}
.fa, .far, .fas{
    color: white;
}
color-circle{
    width: auto;
}
@media screen and (max-width:768px) {
 p{
     width: 88%;
     margin-left: -48px;
     display: inline-table;
 }
 .mb-3{
    width: 87.5%;
    //position: relative;
    /* top: 294px; 
    left: 29px;
    top: 309px;
 }
 .row{
    left: -48px;
    width: 87.5%;
 }  
}*/


body {
   display: flex;
   justify-content: center;
   align-items: center;
   
   background: black;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.neons {
   //margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 2rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px
     #fab91b,
     0 0 20px
      #fab91b,
      0 0 30px #fab91b, 0 0 40px
       #fab91b, 0 0 50px
        #fab91b, 0 0 60px
         #fab91b, 0 0 70px
          #fab91b, 0 0 90px
           #fab91b;
  }
  
  to {
     color: #fff;
    text-shadow: 0 0 20px
    #fab91b, 0 0 30px
    #fab91b, 0 0 40px
    #fab91b, 0 0 50px
    #fab91b, 0 0 60px 
    #fab91b, 0 0 70px 
    #fab91b, 0 0 80px 
    #fab91b, 0 1 90px 
    #fab91b;
  }
}