
.container{

  width: 70%;
  position: relative ;
  left:0%;
  margin-right: 0;
  // top: 50%;
  // transform: translate(-50%,-50%);
  font-family: 'Poppins',sans-serif;
  z-index: -1;
}

h2{
  font-size: 1rem;
}

.produit{
  margin-bottom: 10px;
}

.body{
display: flex;
}

.img{
  margin-right: 10px;
}

.title{
  font-weight: bold;
  color: #fab91a;
}

.text-des{
  position: relative;
}

.descript{
  font-weight: 700;
  color: #324161;
}

.qte{
  color: #75757a;
}
@media screen and (max-width:768px) {
  .produit{
    width: 321px;
    /* margin-right: -59px; */
    position: relative;
    left: -80px;

  }
  .carde{
    width: 223px;
    left: -31px;
  }
}

