<div class="container-fluid" id="fluid">
 <div class="card-header">
     vetements
     <a class="a" href="../cloths" style="float: right;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
 </div>  
<div class="row">
    
        <div class="card-deck">
                <div class="col-2"  *ngFor ="let item of clothes">
                    <div class="card">
                    <a [href]="url+item.clt_id">
                        <img [src]="item.img" alt="">
                        <div class="middle">
                            <a class="text btn" [href]="url+item.clt_id">
                            Je personnalise
                            </a>
                          </div>
                        <div class="card-body">
                            <h6>{{item.name_cloths}}</h6>
                            <p>{{item.price}} <strong>fcfa</strong></p>
                        </div>
                    </a>
                </div>
                </div>
        </div>
    </div>
    <!--
    <br>
    <br> 
    <div class="card-header">
        Imprimés
        <a class="a" href="" style="float: right;">Voir plus</a>
    </div> 
    
   <div class="row">
       
           <div class="card-deck">
                   <div class="col-3" >
                       <div class="card">
                       <a href="">
                           <img src="" alt="">
                           <div class="middle">
                               <a class="text btn" href="">
                               Je personnalise
                               </a>
                             </div>
                           <div class="card-body">
                               <h6></h6>
                               <p> <strong></strong></p>
                           </div>
                       </a>
                   </div>
                   </div>
           </div>
       </div>
       <br>
    <br> 
    <div class="card-header">
        Affichages
        <a class="a" href="" style="float: right;">Voir plus</a>
    </div> 
    
   <div class="row">
       
           <div class="card-deck">
                   <div class="col-3"  >
                       <div class="card">
                       <a href="">
                           <img src="" alt="">
                           <div class="middle">
                               <a class="text btn" href="">
                               Je personnalise
                               </a>
                             </div>
                           <div class="card-body">
                               <h6></h6>
                               <p> <strong></strong></p>
                           </div>
                       </a>
                   </div>
                   </div>
           </div>
       </div>
       <br>
    <br> 
    <div class="card-header">
        Emballages
        <a class="a" href="" style="float: right;">Voir plus</a>
    </div> 
    
   <div class="row">
       
           <div class="card-deck">
                   <div class="col-3"  >
                       <div class="card">
                       <a href="">
                           <img src="" alt="">
                           <div class="middle">
                               <a class="text btn" href="">
                               Je personnalise
                               </a>
                             </div>
                           <div class="card-body">
                               <h6></h6>
                               <p> <strong></strong></p>
                           </div>
                       </a>
                   </div>
                   </div>
           </div>
       </div>
       <br>
    <br> 
    <div class="card-header">
        Gadgets
        <a class="a" href="" style="float: right;">Voir plus</a>
    </div> 
    
   <div class="row">
       
           <div class="card-deck">
                   <div class="col-3"  >
                       <div class="card">
                       <a href="">
                           <img src="" alt="">
                           <div class="middle">
                               <a class="text btn" href="">
                               Je personnalise
                               </a>
                             </div>
                           <div class="card-body">
                               <h6></h6>
                               <p> <strong></strong></p>
                           </div>
                       </a>
                   </div>
                   </div>
           </div>
       </div>
       -->
</div>
