.row{
    border: solid 1px #eee;
    //height: 375px;
    display: flex;
}
.card{
    width: 15rem;
    //border-radius:12px;
    box-shadow: none;
    width: 191px;
    //height: 285px;
}

.a:hover{
    text-decoration: none;
}
.container-fluid{
    margin-top: 12px;
}
.col-2{
    margin-top: 12px;

}
.card-columns{
    display: contents;
}
a{
    text-decoration: none;
}
.card-body{
    text-align: center;
    //border: solid 1px;
    color: black;
    padding: inherit;
    font-family: 'Roboto';
}
 a .card-body:hover{
    text-decoration: none;
}
.card-header{
    color: white;
    background: #324161;
    font-family: 'Poppins';

}
img{
    width: 100%;
}
.card-header a{
    color: white;
}
.card-header a:hover{
    color: white;
}
.card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
     rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 48px;
    //border-radius: 10px;
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: relative;
    /* top: -12%; */
    left: 49%;
    bottom: 45px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn{
    background: #324161;
    color: white;
    position: relative;
    bottom: 41px;
  }
  .btn:hover{
    color: white;
  }
  .card:hover .middle {
    opacity: 1;
  }
  .card:hover .img {
    opacity: 0.5;
  }
  .img{
    transition: .5s ease;
    backface-visibility: hidden;
  }
  @media screen and   (max-height:768px) and   (max-width:382px) {
      .card{
        position: relative;
        right: 4px;
        width: 250px;

      }
      .row{
          display: contents;
      }
  }
  @media only screen  and (max-width:768px) and  (max-height:382px) {
    .btn[_ngcontent-cum-c84] {
        background: #324161;
        color: white;
        position: relative;
        bottom: -6px;}
    .row{
        text-align: center;
    }
    .col-2{
        display: table;
    }
    .card-deck{
        justify-content: center;
    }
  }