footer{
  position: flex;
  // margin-top: auto;
  width: 100%;
}
.text-lg-left{
  background-color: #e3e4e3;
  font-family: 'Poppins',sans-serif;
}
h6{
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
}
.list-unstyled .col li{
  float: left;
  position: relative;
  //height: 9px;
   display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left:5px;
  //font-size: 12px;
 position: relative;
 //left: 80px;
 top:20px;

}
img{
  position: relative;
  right: 19px;
}
.fab{
  position: relative;
  right: 6px;
}
.vertical-line{
  border-left: 2px solid black;
  display:inline;
  height: 17px;
  margin: 0 6px;
  position:center;
  opacity: 75%;
}
footer .faire {
  position: relative;
  right: 160px;
  font-size: 15px;

  //display: inline-table;

}

.input-new{
  text-align: justify;
  margin-right: 20%;
  margin-left: 39%;
  font-size: 12px;
}

footer .text-center{
  display: block;
}
footer .text-center a{
  margin:10px;
  text-decoration: none;
}
@media only screen and (max-width:1250px) {

  footer .faire {

      margin-left: 150px;
  }
  footer .faire h6{
      margin-left: 0px;
  }
  footer .text-center{
      display:inline-block;
  }
  .input-new{
      display: none;
  }
}
