
<app-header></app-header>

<div class="container">
    <div class="container-fluid">
        <h3 style="margin-top:45px; text-align: center;color: #fab91a;">Termes et Conditions 2021
            Conditions Générales de la Marketplace
            </h3>
            <hr style="border: solid 8px #06276e;">
            <br>
            <p>La société Aladin Technology SARL (ci-après désignée « ALADIN ») est une société A Responsabilité Limitée, au capital de 5.000.000 FCFA, dont le siège social est sis à Abidjan, 21 BP 1161 ABIDJAN 21, Côte d’Ivoire, immatriculée au RCCM CI-DAB-2020-B-796, Identification Fiscale n°2048566 E et représentée par Monsieur TOURE Soumaila B, Chef Exécutive Officer (CEO).</p>
            <p>Aladin est une société spécialisée dans la vente en ligne, le développement d’application mobile et plateforme web, la commercialisation et la fourniture de services internet (commerce électronique couvrant les marchandises d’imprimerie et divers), de services logistiques et numériques, via sa plate-forme de vente en ligne <a href="">www.aladin.ci </a>et son application mobile.</p>
            <p>ALADIN met à votre disposition ses services à toute imprimerie, maison d’éditions et autres intéressé de vendre des articles ou produits (le « PARTENAIRE ») sur le site internet <a href="">www.aladin.ci </a>  (le « site Aladin »). </p>
            <p>Le présent document donne les conditions générales de la Marketplace (les « CONDITIONS GENERALES DE LA MARKETPLACE ») auxquelles le PARTENAIRE doit adhérer par signature électronique en cochant la case « J’accepte les Conditions Générales de la Marketplace » afin d’accéder aux services d’ALADIN. 
                Ce contrat représente et clarifie l’engagement entre les deux parties qui sont d’une part ALADIN et d’autres part le PARTENAIRE.   
            </p>
            <br>
            <h5>ARTICLE I: DROITS ET OBLIGATIONS DES DIFFERENTES PARTIES</h5>
            <h6>1.COMMUNICATION</h6>
            <p>ALADIN communique avec le PARTENAIRE en utilisant les informations fournies par ce dernier lors de son inscription sur la plateforme développée pour le PARTENAIRE appelée ALADIN PARTNER dont l’adresse est<a href=""> www.aladin.ci/adresse</a> partenaire. Le PARTENAIRE est responsable de la mise à jour de ses informations sur ALADIN PARTNER dans les 24 (vingt-quatre) heures suivant tout changement dans sa situation.</p>
            <p>Le PARTENAIRE communiquera avec ALADIN en utilisant des e-mails, téléphone ou messagerie mobile, et sera suivie par un Commercial. 
                Le PARTENAIRE accepte de partager avec diligence toutes les informations nécessaires concernant son entreprise et ses opérations afin d'aider ALADIN à résoudre ses problèmes d'exploitation sur l’espace qui lui est dédié appelé (ALADIN PARTNER).
            </p>
            <br>
            <br>
            <h6>2.EXÉCUTION DU CONTRAT</h6>
            <p>Le PARTENAIRE reconnaît que la relation entre les Clients finaux qui achètent sur le site (les « CLIENTS ») et ALADIN est régie par la politique de confidentialité et les conditions d’utilisation et générales de vente, toutes deux disponibles sur le site ALADIN. ALADIN partage des informations ou des données relatives aux CLIENTS seulement en cas de besoin. Cela sous-entend que le PARTENAIRE est tenu à la confidentialité de ces informations et qu’il lui est aussi strictement interdit de les utiliser pour tout autre but que celui prévu pour le fonctionnement de ALADIN PARTNER et le traitement des commandes.</p>
            <p>ALADIN donne accès à l’ALADIN PARTNER et propose une formation au PARTENAIRE pour lui permettre de référencer ses produits en ligne sur le site ALADIN, mettre à jour ses prix et ses stocks, traiter les commandes des clients, suivre les livraisons et les paiements.</p>
            <p>ALADIN présentera sur le site ALADIN des produits proposés par le PARTENAIRE et approuvés par ALADIN. 
                Le PARTENAIRE garantit à ALADIN les droits d’utiliser, de reproduire, de modifier, d’adapter, de publier, de traduire, de créer d'autres contenus et de distribuer le contenu que le PARTENAIRE fournit.
            </p>
            <p>ALADIN est autorisé à accepter les ventes pour le compte du PARTENAIRE et veillera à ce que les données des commandes soient transmises au PARTENAIRE via ALADIN PARTNER le même jour ouvrable. </p>
            <p>Le PARTENAIRE autorise ALADIN à collecter pour son compte les paiements des commandes faites sur le site ALADIN, avant rétribution au PARTENAIRE (voir. Article II).</p>
            <p>Le PARTENAIRE certifie que la description des produits figurant sur le site ALADIN est vraie, respecte toute les lois applicables à la promotion d'un produit auprès du client final, et respecte les lignes directrices de création de produits communiquées, par ALADIN, disponibles dans son compte ALADIN PARTNER. Chaque article vendu doit être identique à l'image fournie et à sa description sur le site ALADIN. </p>
            <p>Le PARTENAIRE est responsable de la fixation des prix des produits annoncés sur le site ALADIN. Le prix, toutes taxes comprises, doit être conforme à la loi en vigueur sur la politique des prix pendant toute la durée de l'annonce. ALADIN a l’obligation de ne pas changer les prix des produits du PARTENAIRE sans son accord exprès</p>
            <p>Le PARTENAIRE n’est autorisé à modifier (le prix, les caractéristiques, …), supprimer un produit lors d’une promotion dont il aura volontairement intégré. 
                Le PARTENAIRE doit dédier des ressources suffisantes à la gestion de son assortiment sur le site ALADIN.</p>
            <br>
            <br>
            <h5>ARTICLE II : CONDITIONS GENERALES DE TRANSACTIONS ET DE PAIEMENT ENTRE ALADIN ET LE PARTENAIRE </h5>
            <h6>1.CONDITIONS GENERALES DE PAIEMENT</h6>
            <p><strong>(1)</strong> Paiement par ALADIN au PARTENAIRE : les paiements effectués par ALADIN au PARTENAIRE sont calculés sur la base de la somme du prix de vente TTC des articles livrés aux CLIENTS déduction faite des montants des produits retournés dans la même période et des commissions facturées par ALADIN conformément à l’article II 2. </p>
            <p><strong>(2)</strong> Mode de paiement: les paiements sont effectués après accord entre ALADIN et le PARTENAIRE par virement bancaire, transfert Mobile Money, ou par chèque bancaire</p>
            <p><strong>(3)</strong> Le décompte du paiement: les recettes perçues par ALADIN pour le compte du PARTENAIRE sont basées sur les commandes livrées avec succès aux CLIENTS, et donc payées par ces derniers.<br>
            Toutes les sommes dues ci-dessous au PARTENAIRE peuvent être retenues par ALADIN en compensation des sommes dues par le PARTENAIRE à ALADIN, ou contre toute réclamation de tiers à l’égard de ALADIN découlant de la performance du PARTENAIRE avec pour preuve tout document. ALADIN peut retenir des paiements à effectuer au PARTENAIRE les sommes qui doivent légalement être retenues sur ses paiements et remises à la juridiction compétente.
            </p>
            <p><strong>(4)</strong> Documents requis pour le paiement: chaque paiement dépend des documents suivants :<br>
                <strong>(a)</strong> La signature électronique effective des CONDITIONS GENERALES DE LA MARKETPLACE par le PARTENAIRE en cochant la case « J’accepte les Conditions Générales de la Marketplace » ;<br>
                <strong>(b)</strong> Les coordonnées de paiement à jour ;
            </p>
            <p><strong>(5)</strong> Calendrier de paiement: le calendrier des paiements suit les règles et les agendas disponibles dans ALADIN PARTNER, avec une fréquence convenue à l’avance entre ALADIN et Le PARTENAIRE.</p>
            <p><strong>(6)</strong>  Les règles relatives aux paiements: le paiement de chaque transaction est propre au PARTENAIRE. Il ne peut pas être cédé ou transféré sans l'accord de ALADIN.</p>
            <p><strong>(7)</strong> Remboursement: dans le cas où le PARTENAIRE souhaite être mis en avant par ALADIN sur le site ALADIN, ALADIN peut proposer au PARTENAIRE une opération marketing que ALADIN facture au PARTENAIRE. Le PARTENAIRE est tenu de payer l’intégralité du montant de l’opération et ne peut pas demander le remboursement partiel ou total après l'exécution des différents services opérationnels et marketing à valeur ajoutée qu’ALADIN peut fournir, sous prétexte que les objectifs de ventes n’ont pas été atteints. </p>
            <p><strong>(8)</strong> Prix: les prix sont indiqués en XOF FCFA, toute taxe comprise (TTC).</p>
            <p><strong>(9)</strong> Facture : en plus du détail des ventes fourni dans ALADIN PARTNER, ALADIN met à disposition du PARTENAIRE une facture normalisée formalisant la facturation des commissions et divers frais, conformément à la règlementation fiscale en vigueur. </p>
            <p><strong>(10)</strong> Réclamation sur le paiement : il est de la responsabilité du PARTENAIRE de signaler à ALADIN lorsqu’une période de paiement est achevée et indiquée comme payée par ALADIN alors que le PARTENAIRE n’a pas effectivement reçu son paiement. En cas d’erreur sur les informations de paiement, il sera procédé à une investigation pour identifier la source mais ALADIN ne pourra être tenu responsable des potentiels paiements à d’autres personnes au-delà d’une période d’une semaine entre l’indication du paiement et la date du signalement.</p>
            <p><strong>(11)</strong> Délai de réclamation sur les points des paiements : dans le cas exceptionnel d’une omission d’une vente dans ALADIN PARTNER le PARTENAIRE a la possibilité de porter une réclamation sur un point des paiements lorsqu’il estime que ALADIN PARTNER omet la vente d’un ou plusieurs articles dans un délai de 90 jours maximum. Aucune réclamation ne pourra être faite passée ce délai de 90 jours francs. 
 
            </p>
            <br>
            <h6>2.COMMISSIONS ET FRAIS COLLECTES PAR ALADIN: </h6>
            <p>ALADIN facture au PARTENAIRE divers frais et commissions en rémunération de la mise à disposition des outils de ALADIN et de la mise en avant des articles du PARTENAIRE sur le SITE ALADIN.</p>
            <p><strong>(a)</strong> Calcul des commissions : Les commissions sont calculées en pourcentage du prix de vente toutes taxes comprises et sont facturées toutes taxes comprises. ALADIN collecte la TVA sur le montant des commissions qu'elle retient conformément à la réglementation applicable.</p>
            <p><strong>(b)</strong> Les frais : Les tarifs des différents frais fixes par paquet et des options payantes sont ceux en vigueur le jour de la passation de commande par le client. Les frais sont facturés avec la TVA. </p>
            <p><strong>(c)</strong> Les commissions perçues par ALADIN: Toutes les commissions perçues par ALADIN sur les produits du PARTENAIRE sont disponibles dans ALADIN PARTNER. Le fait de vendre via ALADIN PARTNER vaut acceptation de ces commissions. <br>
                ALADIN conserve pour elle-même la possibilité de modifier ses tarifs, avec notification préalable par e-mail un (1) mois avant mise en pratique des modifications. A défaut de manifestation de la volonté de désaccord du PARTENAIRE à l’échéance de cette période cela équivaut acceptation implicite de sa part.
                </p>
            <p><strong>(d)</strong> Les pénalités : ALADIN appliquera des frais de pénalités au PARTENAIRE en cas de rupture de stock, retard de livraison conformément à la rubrique commission dans le ALADIN PARTNER. Des pénalités sont appliquées pour les cas suivants : contrefaçon, mauvaise qualité, produits non conformes détectés lors des livraisons à ALADIN ou des retours clients</p>
            <br>
            <h6>3.FACTURATION DES CLIENTS</h6>
            <p>Il appartient à Aladin de fournir des factures normalisées conformes à la réglementation fiscale en vigueur pour chaque vente de produits aux CLIENTS via le site ALADIN. ALADIN s’exonère de toute responsabilité en cas de manquement du PARTENAIRE aux règles fiscales en vigueur. </p>
            <br>
            <br>
            <h5>ARTICLE III : LOGISTIQUE</h5>
            <h5> DIFFÉRENTS TYPES DE GESTION DES COMMANDES:</h5>
            <h6> PRINCIPES GÉNÉRAUX CONCERNANT LE PROCESSUS DE RETOUR DES PRODUITS    </h6>
            <p><strong>(1)</strong> ALADIN accepte les produits retournés par ses clients, si le motif de retour respecte la politique de retour mentionnée sur le site et sur ALADIN PARTNER (07 jours après livraison au client final).</p>
            <p><strong>(2)</strong>L'acceptation par LE PARTENAIRE des conditions de retour d’ALADIN :
                Le PARTENAIRE reconnait qu’ALADIN est amené à lui retourner régulièrement des articles en bon état (commandes annulées, articles retournés par le CLIENT…) sans aucune indemnité (conformément à la politique de retour). <br>
                Le PARTENAIRE accepte expressément les conditions de retour déterminées par ALADIN et telles que mentionnées sur le site internet  ALADIN et sur ALADIN PARTNER. Il ne peut pas refuser un retour d’article dès lors que l’article et son emballage sont en bonne condition et conformément à la politique de retour de commande. En outre, le PARTENAIRE renonce à sa propre politique de retour pour toutes les commandes faites sur ALADIN.<br>
                Dans le cas où ALADIN retourne un article au PARTENAIRE (commandes annulées, articles retournés par le CLIENT…)  Et où le partenaire ne vient pas le chercher ou ne l’accepte pas, le PARTENAIRE accepte purement et simplement de renoncer à la vente de l’article et ne sera pas rétribué par ALADIN dès le dépassement d’un délai d’une semaine calendaire. Passé ce délai, le PARTENAIRE reconnait à ALADIN le droit de disposer de l’article et d’en faire l’usage qui lui semble approprié. Durant ledit délai, ALADIN s'engage à contacter le PARTENAIRE pour lui rappeler ses obligations. 
            </p>
            <br>
            <br>
            <h5>ARTICLE IV : DUREE ET RESILIATION</h5>
            <p>Les présentes CONDITIONS GENERALES DE LA MARKETPLACE sont conclues pour une durée indéterminée. Elles peuvent être résiliées à tout moment par l’une ou l’autre des Parties sans indemnités, ni dommages-intérêts.</p>
            <br>
            <br>
            <h5>ARTICLE V : CONFIDENTIALITE</h5>
            <p> Le PARTENAIRE et ALADIN sont tenus de traiter de manière confidentielle le contenu de ce contrat, ainsi que toutes les autres informations et données qu'ils acquièrent dans le cadre du présent contrat, et de ne pas l'utiliser à des fins autres que celles du champ d'application de ce contrat ou de le transmettre à la tierce partie. Cette obligation reste en vigueur après la résiliation du contrat. Les deux Parties sont tenues de respecter les règles de confidentialité et de gérer en conséquence toutes les données relatives aux clients, fournisseurs et partenaires d'affaires.</p>
            <p>Chaque Partie s’engage à traiter de façon confidentielle l'information donnée par l'autre partie en raison de l'exécution des termes de ce contrat.
                Chaque Partie ne s’engage à utiliser l'information obtenue que pour la réalisation des termes de ce contrat.
                Toutefois, l'obligation de confidentialité ne couvre pas les informations qui, au moment de leur transmission, semblaient évidemment publique ou connue du public.
                </p>
            <br>
            <br>
            <h5>ARTICLE VI : INTEGRALITE</h5>
            <p> 
                Il est expressément précisé que les obligations stipulées aux présentes CONDITIONS GENERALES DE LA MARKETPLACE constituent l’intégralité de la volonté des Parties. </p>
            <p>Les présentes CONDITIONS GENERALES DE LA MARKETPLACE annulent et remplacent de plein droit à compter de sa signature électronique par le PARTENAIRE toute convention écrite ou non ayant pu lier le PARTENAIRE et ALADIN auparavant.</p>
            <br>
            <br>
            <h5>ARTICLE VII: TOLERANCE</h5>
            <p>Le fait par l’une des Parties de ne pas exiger à un moment quelconque l’exécution stricte par l’autre Partie d’une disposition ou condition quelconque des présentes CONDITIONS GENERALES DE LA MARKETPLACE ne sera en aucun cas réputé constituer une renonciation, quelle qu’en soit, l’exécution de ce droit.</p>
            <br>
            <br>
            <h5>ARTICLE VIII: NULLITE</h5>
            <p>Si l’une quelconque des stipulations des présentes CONDITIONS GENERALES DE LA MARKETPLACE était déclarée nulle à la suite d’une décision de justice ou devait être modifiée par suite d’une décision d’une autorité nationale, les Parties s’efforceront de bonne foi d’en adapter les conditions d’exécution, étant entendu que cette nullité n’affectera pas les autres dispositions des CONDITIONS GENERALES DE LA MARKETPLACE.
            </p>
            <br>
            <br>
            <h5>ARTICLE IX : COMPÉTENCE JURIDICTIONNELLE ET LOI APPLICABLE</h5>
            <p><strong>(1)</strong> Droit applicable: Le présent accord est régi et interprété conformément à la loi de la Côte d'Ivoire.</p>
            <p><strong>(2)</strong> Juridiction compétente: Sous réserve des dispositions en dessous, tout litige, controverse ou réclamation découlant de ou liée au présent contrat, ou de la violation, la résiliation ou la nullité de celui-ci doit être réglé par arbitrage conformément à la juridiction de la République de Côte d'Ivoire. Tous les litiges découlant des présentes CONDITIONS GENERALES DE LA MARKETPLACE seront soumis préalablement à la procédure de conciliation ou de médiation conformément au Règlement de la Cour d'arbitrage de Côte d’Ivoire (CACI) de conciliation.</p>
            <p>En cas de non - conciliation, les litiges seront tranchés définitivement suivant le Règlement d'arbitrage de la Cour d'arbitrage de Côte d’Ivoire (CACI) par un ou trois arbitres nommés conformément à ce règlement.</p>
            <p>Toutes les sentences rendues lient les parties qui s'engagent à les exécuter de bonne foi ; elles sont supposées avoir renoncé au recours en annulation devant les juridictions étatiques et à tout recours auquel elles sont en droit de renoncer dans le pays où l'arbitrage a son siège.</p>
            <p><strong>(3)</strong>Permanence des obligations contractuelles: Les Parties au présent Accord continueront à respecter leurs obligations contractuelles respectives, jusqu'à ce que la résolution de tout conflit ou différend, conformément aux dispositions du présent Accord.</p>
            <br>
            <br>
            <h5>ARTICLE X: ELECTION DE DOMICILE</h5>
            <p>Pour l’exécution des présentes CONDITIONS GENERALES DE LA MARKETPLACE et de ses suites, le PARTENAIRE élit domicile à l’adresse indiquée sur ALADIN PARTNER et ALADIN élit domicile à son siège social indiqué ci-dessus. </p>
        </div>
    </div>
    <br>
    <br>
<app-footer></app-footer>