:root{
  --bleu:#324161;
  --jaune:#fab91a;
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.image{
  width: 100%;
  text-align: center;
}

.text{
  font-weight: bold;
  color: #324161;
  font-size: 30px;
  padding: 30px 0 0 10%;
}

.text-bas{
  font-weight: bold;
  color: #324161;
  text-align: center;
  padding-bottom: 21px;
}

.btn{
  font-weight: bold;
  background-color: #324161;
  color: white;
  border-color: #324161;
}
