*{
    box-sizing: border-box;
  }
  body{
    background: #f2f2f2;
    width: auto;
    margin: 0;
    padding: 0;
    // height: 100%;
    font-size: 16px;
    color: #333;
    letter-spacing: .02em;
  }
  
  // ----------------------------------------------------------------------------
  // ----------------------------------------------------------------------------
  
  
  .container .formulaire{
    width: 100%;
  }
  
  .formulaire form{
    display: flex;
    width: 400%;
  }
  
  .formulaire form .box{
    width: 100%;
  }
  
  // texte en bleu
  
  .box .text-blue{
    margin-bottom: 10px;
  }
  
  .text-blue{
    background-color: #3075b4;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
  }
  
  // fin texte bleu
  
  // creation des differentes bloc
  
  .container .page{
    background: #fff;
    border-radius: 4px;
    padding: 0 15px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
  }
  
  .container .page .title{
    position: relative;
    // display: flex;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
  }
  
  .container .page .deb-form{
    position: relative;
  }
  
  .page .deb-form{
    margin-bottom: 20px;
  }
  
  .container .page .deb-form hr{
    margin: 0 0 20px;
    border-color: #d9d9d9;
  }
  
  .tableau{
    display: flex;
  }
  
  .tableau-gauche{
    width: 50%;
    margin-right: 15px;
  }
  .tableau-droite{
    width: 50%;
    margin-left: 15px;
  }
  
  input[type="text"]{
    line-height: 1.2em;
    background-color: #fff;
    font-weight: 400;
    color: #333;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 2px;
    box-shadow: none;
    height: 40px;
    width: 100%;
    border: 1px solid #999;
  }
  input[type="password"]{
    line-height: 1.2em;
    background-color: #fff;
    font-weight: 400;
    color: #333;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 2px;
    box-shadow: none;
    height: 40px;
    width: 100%;
    border: 1px solid #999;
  }
  
  
  .input{
    margin-bottom: 20px;
    display: block;
    position: relative;
  }
  
  .input .input-emb label{
    margin: 0;
    position: absolute;
    top: 12px;
    left: 8px;
    transition: top .2s linear;
    z-index: 2;
    color: #333;
  }
  
  .input .input-emb label:hover{
    content: " ";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    left: 0;
    top: 46%;
  }
  
  .container input{
    margin: 0;
  }
  
  input:focus, input[type="text"]:focus{
    outline: 0;
    box-shadow: none;
    border-radius: 2px;
    border-color: #3075b4;
  }

  
  input:focus, input[type="password"]:focus{
    outline: 0;
    box-shadow: none;
    border-radius: 2px;
    border-color: #3075b4;
  }
  
  
  
  .bouton{
    display: flex;
    background-color: #fff;
    height: 64px;
    min-height: 64px;
    justify-content: flex-end;
    align-items: center;
  }
  
   .bouton li {
      padding-right: 16px;
  }
  
  .bouton li button {
        min-width: 200px;
        height: 40px;
        font-weight: 700;
        padding: 0;
  }
  
  .bouton li button > a {
        display: flex;
        align-items: center;
  }
  
  //progressbar
  
  .bloc_pre .progres-bar{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }
  
  .bloc_pre .progres-bar .bloc{
    display: flex;
    text-align: center;
    width: 20%;
  }
  
  .bloc_pre .progres-bar .bloc1{
    width: 17%;
  }
  
  .bloc_pre .progres-bar .bloc3{
    width: 16%;
  }
  
  .progres-bar .bloc p{
    font-style: 18px;
    font-weight: 500;
    color: #324161;
    margin-bottom: 8px;
  }
  
  
  .progres-bar .bloc .numerotation{
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid #324161;
    display: inline-block;
    border-radius: 50%;
    color: white;
    background: #324161;
    margin-right: 10px;
  }
  
  .progres-bar .bloc:last-child .num-icon{
    display: none;
  }
  
  
  .progres-bar .bloc span{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .progres-bar .bloc .num-icon{
    // display: none;
    padding-left: 20px;
    line-height: 25px;
  }
  
  
  
  
  
  