/*.p{
    margin-left: 200px;
}


.container{

    width: 50%;
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins',sans-serif;

}
form{
    width: 100%;
    position: static;
    margin: 30px auto 0 auto;
    display:block;

}
button{
    height: 50px;
    padding: 12px;

}
.btn-warning{
    font-weight: bold;
    background: #fab91a;
    color: white;
}
.btn-warning:hover{

    background: #fab91a;
    color: white;
}
.row{
    display: flex;
}

.header{
  text-align: center;
}

h5{
    color: #324161;
    font-size: 24px;
    font-weight: bold;
}
h6{
    color: #324161;
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.form-outline{
    padding: 12px;
}

.new{
    margin-left: 90px;
}

@media screen and (max-width:1250px) {

  .row{
    display: block;}
    .form-outline{
        width: 250px;



    }
    .container{
        display: block;
        position: relative;
    left: 23px;
    top: 634px;
    }
    button{
        width: 250px;
    }
    hr{
        width: 250px;

    }
    a{
        display: flex;
        flex-wrap: nowrap;
    }

}
@media screen and (min-width:415px) and (max-width:1024px)  {
    .container{
        display: block;
        position: relative;
        margin-left: 600px;
    }
    .form-outline{
        width: 350px;

    }
    hr{
        width: 350px;

    }
    button{
        width: 350px;
        display: flex;
    }
}
@media screen and (min-width:415px) and (max-width:768px)  {
    .container{
        margin-left: 390px;
    }
}
@media screen and (min-width:415px) and (max-width:768px)  {
    .container{
        margin-left: 90px;
    }
}
*/

.container{

    width: 50%;
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins',sans-serif;
  
  }
  
  
  .text{
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  
  .dr{
    display: flex;
    width: 100%;
  
  }
  
  .dx{
    width: 100%;
    line-height: 1.4;
    padding-bottom: 20px;
    height: 87px;
    position: relative;
  }
  
  .input{
    padding-top: 20px;
    line-height: 1.4;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 1px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    width: 87%;
  }
  
  .lbl{
    font-size: .95rem;
    color: #324161;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 900;
    font-family: cursive;
  }
  
  .card{
    width: 650px;
    padding: 48px 40px 36px;
    top: 15px;
    box-shadow: none;
  }
  
  .btn{
    font-size: 1.5rem;
  }
  
  h6{
    padding-top:12px;
    font-family: cursive;
    font-size: 25px;
  }
  
  .new{
    padding-top: 19px;
    text-align: center;
  }
  
  .body{
    position: absolute;
    left: 35%;
    top: 140px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20%;
  }
  
  .logo{
    display: flex;
    margin-top: 10px;
    margin-left: 30%;
  }
  
  .facebook{
  margin-right: 10%;
  margin-left: 25px;
  }
  
  .check{
    padding-bottom: 10px;
    font-family: cursive;
  }
  
  input[type="checkbox"]{
    width: 32px;
    height: 15px;
    margin-top: 4px;
  }
  a{
      text-decoration: none;
  }
  .img{
    text-align: center;
  }
  img{
    width: 27%;
  }
form{
    margin-top: 36px;
    font-family: cursive;
}
footer{
    position: relative;
    top: 906px;
    background: #eee;
}

.text-dark{
    margin: 15px;
}
@media screen and (max-width:768px) {
    .body{
        width: 91%;
    /* left: 92px; */
    left: 1px;
    position: relative;
    }
    .card{
        left: 20px;
        width: auto;
    }
    .dr{
        display: block;
    }
    img {
        width: 65%;
    }
    .btn{
        width: max-content;
    }
    footer{
        position: inherit;
    /* top: 706px; */
    background: #eee;
    }
    .input{
        width: 100%;
    }

}
@media screen and (max-width:328px){
    .btn{
    position: relative;
    left: -30px;
    }
    footer{
        position: inherit;
    /* top: 706px; */
    background: #eee;
    }
    .input{
        width: 100%;
    }
}