.parent {
    position: relative;
    background: white !important;
    margin-top:0% ;
    margin-left: 14%;
    border: dashed 2px red;
  }
  
  
  .artcanvas {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .innerCanvas {
    position: absolute;
    left: 150px;
    top: 150px;
  }