


.sidebar{
  height: 100vh;
  width: 218px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  //z-index: -1;
  background-color: #fff;
  padding: 0 1.5rem 1.5rem;
  margin-bottom: auto;
  position: fixed;
  // top: 12%;
}

.sidebar-fixed .logo-wrapper {
  padding: 2.5rem;
}

// .position-fixed {
//   position: fixed!important;
// }

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a{
  color: inherit;
  text-decoration: none;
}

a, a:hover {
  transition: all .2s ease-in-out;
  text-decoration: none;
}

a.waves-effect, a.waves-light {
  display: inline-block;
}

// .sidebar-fixed .logo-wrapper img {
//   max-height: 50px;
// }

// img {
//   vertical-align: middle;
//   border-style: none;
// }


.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-group a, .list-group a:hover, .list-group button, .list-group button:hover {
  transition: .5s;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;

 }


 .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
   background-color: #fab91a;
   font-size: 13px;
   font-weight: 700;
 }


 .col16{
  padding: 8px;
}

.card-body{
  display: flex;
}

.img{
  margin: 8px;
}

.text-des{
  margin-right: 32px;
}

.descript{
  font-size: 1rem;
  font-weight: 400;
}

.cmd{
  color: #75757a;
}

.statut{
  margin-top: auto;
}
.offcanvas, .btn{
  width: 240px;
  margin-top: 83px;
  display: none;
}
.offcanvas{
  width: 240px;
  margin-top: 83px;
}
@media screen and (max-width:768px) {
  .sidebar{
    display: none;
    
  }
  .offcanvas, .btn{
  display: block;
  }
  .btn{
    width: 50px;
    position: relative;
    bottom: 59px;
    left: 12px;
  }
}

