
<img *ngFor='let item of forms' [src]="item.url" height="100" width="100" (click)="addNewItem($event)">

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" tabindex="-1" (click)="previousPage()">Précédent</a>
    </li>
    <li class="page-item"><a class="page-link" [id]="pages[0]" (click)="currentPage($event)">{{pages[0]}}</a></li>
    <li class="page-item"><a class="page-link" [id]="pages[1]" (click)="currentPage($event)">{{pages[1]}}</a></li>
    <li class="page-item"><a class="page-link" [id]="pages[2]" (click)="currentPage($event)">{{pages[2]}}</a></li>
    <li class="page-item" >
      <a class="page-link" (click)="nextPage()">Suivant</a>
    </li>
  </ul>
  <div *ngIf="show"style="text-align:center">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</nav>
