

<nav class="navbar navbar-expand-lg ">
  <h5>Les categories</h5>
   <div class="container">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"><i style="color: white;" class="fas fa-bars fa-x" ></i></span>
     </button>
    
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       
       <div class="navbar-nav">
        <div class="row">
          <div class="col" >
           <a href="displays" class="nav-link">Affichages</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="cloths" class="nav-link">Vetements</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="printed" class="nav-link">Imprimés</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="packages" class="nav-link">Emballages</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="gadgets" class="nav-link">Gadgets</a>
         </div>
        </div>
       </div>
     </div>
    </div>
   </nav>
   
       

