.container{

    width: 50%;
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins',sans-serif;
  
  }
  
  .info{
    height: 100%;
    width: 875px;
  }
  
  .head{
    padding: 8px 16px;
    min-height: 48px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #ededed;
  }
  
  .text{
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  .donnee{
    padding: 16px 16px 32px 16px;
  }
  
  .dr{
    display: flex;
    width: 100%;
  
  }
  
  .dx{
    width: 100%;
    line-height: 1.4;
    padding-bottom: 20px;
    height: 87px;
    position: relative;
  }
  
  .input{
    padding-top: 20px;
    line-height: 1.4;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 1px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    width: 87%;
  }
  
  .lbl{
    font-size: .95rem;
    color: #324161;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 900;
  }
  
  @media screen and (max-width:768px) {
    .dr{
      display: block;
    }
    .donnee{
      width: 104%;
    }
    .info{
      width: auto;
      top: 12px;
    }
    .container{
      width: 100%;
    }
  }