@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Festive&family=Great+Vibes&family=Monoton&family=Oleo+Script:wght@700&family=Pacifico&family=Pinyon+Script&family=Satisfy&family=Yellowtail&display=swap');

.parent {
  position: relative;
  background: white !important;
  margin-top:0% ;
  margin-left: 14%;
  border: dashed 2px red;
}


.artcanvas {
  position: absolute;
  left: 0;
  top: 0;
}

.innerCanvas {
  position: absolute;
  left: 150px;
  top: 150px;
}

.pulse {
  overflow: visible;
  position: relative;
}
.pulse:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

body{
  background-color: #eeeeee !important;
}

.row{
  padding-left: 0px;
}

/* The container of each option */
.color-option {
  display: inline;
  position: relative;
  margin: 5px 15px 5px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The container of all options */
.color-picker {
  margin: 10px 0px 10px 0px;
}

/* Hide the browser's default radio button */
.color-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #e6e3e3;
}

/* Style the indicator (dot/circle) when checked */
.color-option input:checked ~ .checkmark {
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Style the indicator (dot/circle) */
.color-option .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.modale{
  border: none;
  overflow: auto;
  background: none;
  padding: 0px;
  //display: contents;
}
.modal-body{
  border: none;
  overflow: auto;
  background: none;
  //padding: 0px;
}
.modale i{
  margin: 10px;
  
}
INPUT:not(:-webkit-autofill), SELECT:not(:-webkit-autofill), TEXTAREA:not(:-webkit-autofill) {
  animation-name:none;
}
.inp{
  position: relative;
  top: 5px;
  left: 12px;
  width: 10%;
}
.modal-content{
  width: 66%;
  //height: 310px;
}
.far{
  font-size: small;
}
.modale a{
  margin-top: 0px;
  color: black;
}


a{

    text-decoration: none;
    margin-top: 5px;
    margin-left: 0px;

}
li{
    list-style: none;
}


// BOUTON IMPORTER
input[type="file"]{
  display: none;
}

label.importer{
  text-align: center;
  margin-right: 40%;
}

.bg-light{
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
    background: #e3e4e3 !important;
}



@media  screen and (max-width:860px) {


  


}


//css offconvas
.conva{
  margin-bottom: 15px;
  background-color: #324161;
  margin-left: 31px;
  visibility: hidden;
}
@media screen and (max-width:1250px) {
 
  //.offcanvas-start{
    //width:203px;
  //}
  .conva{
    visibility: visible;
    
  }
  









  //body{
  //  width: fit-content;
  //}
}
@media screen and (max-width:768px) {
  .canvas-container{
    height: 600px;
    position: relative;
    user-select: none;
  }
  
  .offcanvas-start{
    width:203px;
  }
  .upper-canvas{
    height: auto;
    width: auto;
  }
  .col-sm-4{
    width: 0%;
    height: 0%;
  }
body{
    width: fit-content;
    position:fixed;
  }

  
  .upper-canvas{
    width: inherit;
    height: inherit;
  }
  .custom{
    background: #fff !important;
    //margin-left: 15px;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
    margin-top: 155%;
    margin-left: 25%;
    height: auto;
    width: 302px;
    font-size: 15px;
    text-align: center;
  }
  #i{
    margin-top: 5px;
    margin-left: 63px;
    background: #fff !important;
  }
}
.modal-content {
  width: 100%;
}





@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$colors: (
  red: #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #B5CC18,
  green: #21BA45,
  teal: #00B5AD,
  blue: #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink: #E03997,
  white:#fff,
  indigo:#6c3497,
  black:#0000
  
);



.file-upload{
 width: auto;
 box-shadow: ivory;
 border-radius: 1px;

}



.modal-p-bottom {
  // &.show{
  //   overflow: hidden;
  // }
   .modal-dialog{
    position: absolute;
   // bottom: 0;
    top:100px;
    left: 0px;
    right: 0;
    max-width: 100% !important;
    margin: 0;
    transform:translateY(100%) !important;
    .modal-content{
      border-radius: .3rem .3rem 0 0;
    //@at-root  overflow: scroll;

    }

  }

  &.show{
    overflow: hidden;
    .modal-dialog{
      transform:translateY(0%) !important;
      min-height:80px;
    }

  }
}
.modal-body {
  overflow:scroll;
  border: 2px dashed blue;
}
.float-right{
 text-align: center;
 float: inline-start;
}


#i{
  position: relative;
    bottom: 284px;
    margin-left: 612px;
}


@media screen and (min-width:320px) and (max-width:375px) {
  #aladin-editor{
    width: auto;
    height: auto;
    position: relative;
    user-select: none;
  }

  .col-sm-4{
    width: 0%;
    height: 0%;
  }
  .offcanvas-start{
    width:203px;
  }
}
.container{
  width: 606px;
}
.li{
  margin-top: 38px;
}
img{
  margin: 12px;
}

#items{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;
  
}
hr { width: 85%; 
  background-color:#E4E4E4;
  border-color:#E4E4E4;
    color:#E4E4E4;
}
#cntnr{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;      background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
}

li{
  
  padding: 3px;
  padding-left:10px;
  list-style: none;
}


#items :hover{
   color: white;
  background:#284570;
  border-radius:2px;
}
.ra{
  margin-top: 47px;
}
.sel{
  height: 31px;
    border-radius: 11px;
}
.btn-close{
border: solid 2px blue;
    border-radius: 18px;
    background: #fab91b;
    /* color: whitesmoke; */
}