
<app-header></app-header>

<div class="espace">
  <div class="retour">
    <button class="btn btn-primary btn-lg">Retour</button>
  </div>
</div>

<div class="container-fluid">
  <div class="container g_box">
  <div class="box">
    <div class="col-sm-12 header">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>
            Paiement
          </h2>
        </div>
      </div>
    </div>
    <div class="paymentWrap">
							<div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons"  >
					            <label class="btn paymentMethod" >
					            	<div class="method orange" ></div>
					                <input  type="radio" name="options" class="logo" checked>
					            </label>
					            <label class="btn paymentMethod">
				            		<div class="method momo"></div>
					                <input type="radio" name="options" class="logo">
					            </label>
					             <label class="btn paymentMethod" >
				             		<div class="method moov"></div>
					                <input type="radio" name="options" class="logo">
					            </label>
					            <label class="btn paymentMethod">
				            		<div class="method visa"></div>
					                <input type="radio" name="options" class="logo">
					            </label>

					        </div>
						</div>

            <div class="form-group" >
              <div class="col-xs-12" id="cel_phone_num" >
              <label for="phone_num"> Saisissez votre numéro de téléphone</label>
                <div class="iti">
                  <input type="text" id="phone_num" name="phone_num" class="form-control" placeholder="Votre numéro de téléphone">
                </div>
              </div>
            </div>
<!-- DEBUT ORANGE -->
            <div class="form-group" >
              <div class="col-xs-12" id="cel_phone_num">
              <label for="phone_num"> code d'autorisation</label>
                <div class="iti">
                  <input type="text" id="phone_num" name="phone_num" class="form-control" placeholder="Veuillez saisir le code d'autorisation de 4 chiffres reçu par SMS">
                </div>
                <span class="help-orange">
                  <p class="help">
                    <i>
                      <p>
                        Pour obtenir votre code d'autorisation Orange Money, merci de taper <b>#144#</b> , Choisir l'option <b>8</b> puis l'option <b>2</b>, Entrer votre code secret et Valider.
                      </p>
                    </i>
                  </p>
                </span>
              </div>
            </div>
<!-- FIN ORANGE -->
          <div class="form-group">
            <div class="col-xs-12 validation">
              <button type="submit" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal"> <span class="fa fa-check-square-o"></span>
                PAYER
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Payement</h5>
                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<app-footer></app-footer>
